
.tasks-prev {
    display: flex;
    justify-content: space-between;
    padding: 10px 12px;
    cursor: pointer;
    position: relative;
    
}
.tasks-prev a {
    width: 80%;
    color: #222;
    text-decoration: none;
}

.content-tasks-left  p:first-of-type {
    padding-top: 5px;
    font-size: 30px;
}
.content-tasks-left  p:nth-child(1) {
    width:300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content-tasks-left  p:nth-child(2) {
    font-size: 18px;
    width:200px;
    white-space: nowrap;
    /*text-overflow ellipsis en overflow hidden va rajouter ... quand le texte est trop long*/
    overflow: hidden;
    text-overflow: ellipsis;
}

.content-tasks-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content-tasks-right button {
    width: 30px;
    height: 30px;
    margin: 5px 0;
    border-radius: 50%;
    border: none;
    color: #f1f1f1;
    cursor: pointer;
}

.content-tasks-right button img {
    width: 100%;
}

@media screen and (max-width: 900px){
    .content-tasks-left  p:first-of-type {
        padding-top: 6px;
        font-size: 22px;
    }
    .content-tasks-left {
        width: 50%;
    }
    .content-tasks-right button {
        width: 25px;
        height: 25px;

    }
    
    .content-tasks-right button img {
        width: 100%;
    }
    .content-tasks-left  p:nth-child(2) {
        width: 100px;
    }
    .content-tasks-left  p:nth-child(1) {
        width:100px;
    }

    
}